# version is auto-built by hatch, not need to store it...
src/linear_dag/_version.py

# just a symlink to treeseq data
data
clean

*.cache
# don't track cython-generated c files
src/linear_dag/*.c
src/linear_dag/*.o
src/linear_dag/core/*.c
src/linear_dag/core/*.o
src/linear_dag/build/*.c
src/linear_dag/build/*/*.o


# Temporary and binary files
foo.py
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
MATLAB/*.asv

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea/
.vscode/
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Package management
.venv*/
.conda*/
.python-version
.zshrc
uv.lock

# IDE and editor files
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/_rst/*
docs/_build/*
cover/*
site/
MANIFEST

# Luke's stuff
luke/*
MATLAB/luke/*
MATLAB/old/*